@font-face {
  font-family: "eina";
  src: local("eina"),
   url("./fonts/eina.ttf") format("truetype");
  font-weight: regular;
  }

body {
  margin: 0;
  font-family: "eina", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


